:root {
  --color-primary: #e6735b; /* Delikatny pomarańczowo-czerwony */
  --color-secondary: #003478; /* Niezmieniony niebieski */
  --color-tertiary: #000000; /* Niezmieniony czarny */

  --color-primary-darker: #cc5c4b; /* Ciemniejszy delikatny pomarańczowo-czerwony */
  --color-secondary-darker: #00265b; /* Niezmieniony ciemniejszy niebieski */
  --color-tertiary-darker: #333333; /* Niezmieniony ciemny szary */

  --color-primary-opacity: #e6735b3a; /* Przezroczysty delikatny pomarańczowo-czerwony */
  --color-secondary-opacity: #0034783a; /* Niezmieniony przezroczysty niebieski */
  --color-tertiary-opacity: #0000003a; /* Niezmieniony przezroczysty czarny */

  --gradient-primary: linear-gradient(
    to top left,
    #e6735b,
    #003478
  ); /* Gradient z delikatnym pomarańczowo-czerwonym i niebieskim */
  --gradient-secondary: linear-gradient(
    to top left,
    #cc5c4b,
    #00265b
  ); /* Gradient z ciemniejszym delikatnym pomarańczowo-czerwonym i ciemniejszym niebieskim */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
  width: 80%;
  margin: 0 auto;
  padding: 0 15px;
}

p {
  color: #666;
}

.section {
  padding: 15em 3em;
  border-top: 1px solid #ddd;
}

.nav {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 0 6em;
  z-index: 100;
  color: #333;
}

.nav__logo {
  height: 16rem;
  margin: -2rem;
}
.logo {
  display: flex;
  justify-content: center;
}

.navigation {
  display: flex;
  justify-content: center;
  margin-top: 2.4rem;
}

.nav__links {
  margin-top: 1rem;
  display: flex;
}

.nav__item {
  list-style: none;
}

.header {
  padding: 1.2em;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 70%,
      rgba(255, 255, 255, 1) 100%
    ),
    url(img/Korea.img1.png);
  background-repeat: no-repeat, no-repeat;
  background-position: center top, center top;
  background-size: 100%, cover;
}

.header-title {
  font-size: 8em;
  color: #000;
  border-radius: 2rem;

  max-width: 115rem;
  display: flex;

  justify-items: center;
  margin-top: 8.2rem;
}

.nav__link:link,
.nav__link:visited {
  font-size: 20px;
  padding: 0.5em 2em;
  font-weight: 500;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
  color: #000;
  margin: 0rem 1rem;
}

.nav__link:hover,
.nav__link:active {
  background-color: var(--color-primary-darker);
  border-radius: 3.2rem;
}

.booking {
  display: flex;
  background-color: #fff;
}

.box-booking {
  background-color: rgba(243, 243, 243, 0.7);
  padding: 1.2em 2em 1.2em 2em;
  position: relative;
  flex: 1;
}

.location::after,
.check-in::after,
.check-out::after,
.guets::after {
  content: "";
  position: absolute;
  top: 20%;
  right: 0;
  width: 1px;
  height: 60%;
  background-color: #666;
}

.title-booking {
  font-size: 1.4em;
  color: #666;
  font-weight: 600;
  grid-column: 1;
}

.location {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #333;
}

.img-loc {
  grid-column: 1;
  justify-self: center;
  width: 30px;
  height: 30px;
  color: var(--color-secondary);
  margin-left: -2.5rem;
}

.place {
  grid-column: 2;
  justify-self: start;
  font-weight: 400;
}

.dropdown {
  border: none;
  background-color: rgba(243, 243, 243, 0.1);
  color: #666;
  font-weight: 500;
  font-size: 1.4em;

  margin-left: -1.7rem;
  color: var(--color-secondary);
}

.check-in,
.check-out {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.check-out {
  padding-right: 2em;
}

#check-in,
#check-out {
  color: var(--color-secondary);
  background-color: rgba(243, 243, 243, 0.1);
  border: none;
}

.dropdown-guests {
  border: none;
  background-color: rgba(243, 243, 243, 0.1);
  color: #666;
  font-weight: 500;
  font-size: 1.4em;
  color: var(--color-secondary);
  padding-top: 0.3em;
}

.seacher {
  padding: 0;
}

.link--btn {
  border: none;
  background-color: var(--color-primary-opacity);
  color: #fff;
  font-size: 2em;
  text-transform: uppercase;
  padding: 1.4em 1em;
}

.link--btn:link,
.link--btn:visited {
  background-color: var(--color-primary-opacity);
  color: #fff;
  font-size: 2em;
  text-transform: uppercase;
  padding: 1.4em 1em;
  border: none;
}

.link--btn:hover,
.link--btn:active {
  background-color: var(--color-primary-darker);
  color: var(--color-secondary-darker);
  box-shadow: inset 0 0 0 2px #000;
}

.section--1 {
  background-color: white;
}

.h2 {
  display: flex;
  justify-content: center;
  font-size: 3.6rem;
}

.section1-p {
  display: flex;
  text-align: center;
  max-width: 60%;
  font-size: 2.4em;
  margin: 0 auto;
}

.section--2 {
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  background-color: #fff;
}

.trip {
  display: flex;
  margin: 2rem;
  gap: 1.2rem;
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.14);
}

.img-trip {
  display: block;
  width: 50%;
  height: auto;
}

.text-trip {
  font-size: 0.7em;
  font-weight: 500;
  padding: 1em;
}

.header-trip {
  font-size: 1em;
  text-align: center;
  font-weight: 800;
  margin-top: 1.2rem;
}

footer {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(img/Korea.img1.png);
  background-position: bottom;
  padding-bottom: 1em;
}

.footer__link {
  color: #000;
  font-size: 1.5em;
  font-weight: 500;
  text-decoration: none;
  list-style: none;
}

.footer__item,
.social-links {
  list-style: none;
}

.social-links {
  margin-right: 2rem;
  display: flex;
  gap: 2rem;
  font-size: 2em;
}

.footer-link {
  color: #000;
}

.social {
  padding-top: 2em;
}

.footer-items {
  padding-top: 2em;
  padding-right: 2em;
}

.footer-p {
  padding-right: 1em;
  display: flex;
  justify-content: center;
  color: #000;
  font-size: 1.5em;
  font-weight: 500;
}
.copyright-footer {
  font-size: 1em;
  padding-top: 2em;
  margin-left: 2rem;
}
.copyright {
  color: #000;
  font-size: 1em;
  font-weight: 600;
}
